# don't want to track anything in private since this is stuff I don't want to share.
data/private/*
# .Rmd file wanted public but not compiled doc
docs/CO2_comparisons.pdf
docs/CO2_comparisons_cache/*
docs/CO2_comparisons_files/*
docs/routines-rationale-diagnostics.rmd

.Rhistory
.directory

*~
*.md
